.card {
    border: 1px solid black;
    height: 600px;
    text-align: center;
    background-image: url(images/nature2.png) ;
    font-size: large;
    font-weight: 600;
    background-repeat: no-repeat;
    background-size: cover;
}
#date{
    background-color: ivory;
    width: 30%;
}
#month{
    background-color: lavender;
    width: 30%;
}
#year{
    background-color: lavenderblush;
    width: 30%;
}

